// Place all the styles related to the customers/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

.clearfix::after {
   content: "";
   display: block;
   clear: both;
}

.top-image {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  text-align: center;
 }
 .top-image img{
   width: 40%;
 }
 .top-image p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:0;
    color: black;
    background-color: rgba( 192, 192, 192, 0.55 );
    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    line-height: 1.5;
    padding: 20px 15px;
  }
  .welcome{
    font-size: 30px;
    font-weight:  bold;
  }
  .toppage{
    padding-left: 450px;
    margin-bottom: 0;
  }
  .tag{
    position: fixed;
    right: 50px;
    bottom: 70px;
  }
