// Place all the styles related to the customers/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
html {
   height: 100%;
   width: 100%;
   font-size: 100%;
}
.item-box {
    display: block;      /* インラインブロック要素にする */
    width: 90%;
    text-align: center;
    margin: 5rem;
}
.total_count{
    font-size: 20px;
}
.item-container{
    display: inline-block;
    margin: 15px;
}
.item-name{
    text-align: left;
}
.item-price{
    text-align: left;
}
.soldout{
    font-color: red;
}
.item-pagenate{
    position: sticky;
    text-align: center;
    bottom: 70px;
    opacity: 1;         /* 初期値は透明にしておく */
    transition: .5s;    /* 動くスピードを0.5秒に指定 */
    position: relative; /* 相対位置の設定 */
    top: 50px;
}
