// Place all the styles related to the customers/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.item-box {
    display: block;      /* インラインブロック要素にする */
    background-color:  #ccc;
    width: 90%;
    text-align: center;
    margin: 50px;
}
.item-container{
    display: inline-block;
    background-color: black;
    margin: 15px;
}
.item-name{
    text-align: left;
}
.item-price{
    text-align: left;
}
.soldout{
    font-color: red;
}
.item-pagenate{
    position: fixed;
    text-align: center;
    bottom: 70px;
}