*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
.midashi{
   background-color: #dcdcdc;
}
.nav-link{
    outline:2px solid #ff7f00;
}
<<<<<<< HEAD
=======
.table > thead > tr > th{
    border:1px solid black;
}
.table > tbody > tr > td{
    border:1px solid black;
}
>>>>>>> 7b7cd32db80680e48588a171d0b6432165fdcb95
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
