<div class="container">
  <div class="row mt-3">
    <div class="mx-auto text-center">
      <h1 class="my-3">Admin Top</h1>
      <div>
        <p>今日も美味しいお菓子で、日本を幸せに♪</p>
      </div>
    </div>
  </div>
</div>
